body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(45deg,#8B0000,#ff1744,#c31432);
  font-family:'Poppins',sans-serif;
  color:white;
}

/* card */
.card{
  width:85%;
  max-width:500px;
  padding:30px;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(15px);
  border-radius:20px;
  text-align:center;
}

/* heading */
h1{
  font-family:'Great Vibes';
  font-size:45px;
}

/* text */
#text{
  margin-top:20px;
  white-space:pre-line;
  border-right:2px solid white;
  display:inline-block;
  padding-right:5px;
}

/* button */
button{
  margin-top:20px;
  padding:10px 20px;
  border:none;
  border-radius:20px;
  background:white;
  color:#c31432;
  font-weight:bold;
  cursor:pointer;
}
